@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.fadeout {
  -webkit-animation: fadeOut 3s;
          animation: fadeOut 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadein {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.top-container {
  background-image: url(/img/IMG_0550.jpeg);
  height: 0;
  padding-top: 66.6%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#site-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.fadein.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.wrap {
  background-color: #d96488;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

@media (max-width: 576px) {
  .content {
    padding-top: 51px;
  }
}

@media (min-width: 577px) {
  .pt-scroll {
    padding-top: 51px;
  }
  .nav-sticky {
    position: fixed !important;
    min-width: 100%;
    top: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .pt-scroll {
    padding-top: 51px;
  }
  .nav-sticky {
    position: fixed !important;
    min-width: 100%;
    top: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    z-index: 1;
  }
}

/* HAMBURGER MENU */
.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hamburger__bottom-bun {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.open .hamburger__top-bun {
  -webkit-transform: rotate(45deg) translateY(0px);
          transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  -webkit-transform: rotate(-45deg) translateY(0px);
          transform: rotate(-45deg) translateY(0px);
}

.section-title {
  font-family: "Yrsa", serif;
}

.global-font {
  font-family: "游ゴシック体", YuGothic;
}

.plof-text {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.nav-menu a {
  margin: 1px 10px;
  display: inline-block;
}

.nav-bar ul {
  display: inline;
}

.scrolldown span {
  position: absolute;
  display: block;
  margin-bottom: 0px;
  bottom: 10px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  border-left: 2px solid #ffb06b;
  border-bottom: 2px solid #ffb06b;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scrolldown span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.scrolldown span:nth-of-type(2) {
  bottom: 50px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.15s;
}

.scrolldown span:nth-of-type(3) {
  bottom: 30px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.3s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*画面遷移アニメーション*/
/*bodyにappearクラスがついたら出現*/
@-webkit-keyframes PageAnime {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.001% {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes PageAnime {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.001% {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.plofile-container {
  width: 100%;
}

.plofile-container .profile-text img {
  -webkit-transition: 2s;
  transition: 2s;
}

.plofile-container .profile-text .text-contents {
  -webkit-transition: 2s;
  transition: 2s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(252, 248, 248, 0.9);
  /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.plofile-container .profile-text:hover .text-contents {
  opacity: 1;
  /* マスクを表示する */
}

.plofile-container .profile-image img {
  -webkit-transition: 2s;
  transition: 2s;
}

.plofile-container .profile-image .img-circle {
  -webkit-transition: 2s;
  transition: 2s;
  width: 100%;
  height: 100%;
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.profile-image:hover .img-circle {
  opacity: 1;
  /* マスクを表示する */
}

@media screen and (max-width: 500px) {
  .pro {
    display: none;
  }
}

.works-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 100%;
  margin-top: 0;
}

.image-item {
  margin: 20px;
  width: auto;
}

.image-item :hover {
  opacity: 0.5;
}

.image-item .image-container {
  overflow: hidden;
}

.image-item .image-container :hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.image-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  overflow: hidden;
}

.image-item .agent-name {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.slide-list-container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.slide-list {
  width: 200%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .slide-list {
    width: 200%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .works-image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top: 0;
  }
}

.slide-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prev-next-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.prev-next-box p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  border-radius: 6px;
  font-size: 20px;
  margin: 0 auto;
}

.prev-next-box span {
  color: #ffb06b;
}

.prev-next-box p:hover {
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0.5;
}

.prev-icon {
  position: relative;
  padding-left: 20px;
}

.more-icon {
  position: relative;
  padding-left: 10px;
}

.swiper-container {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffb06b;
}

.main-image02 {
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-image02__item {
  overflow: hidden;
  position: relative;
}

/* メイン画像縦横中央に配置 */
.main-image02__item img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
}

/* 画像の比率4対3に指定 2対1の場合は50%にします */
.main-image02__item:after,
.main-image02-thumbs__item:after {
  display: inline-block;
  padding-top: 50%;
  content: "";
}

.main-image02-thumbs {
  width: 100%;
  padding: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-image02-thumbs__item {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  padding: 8px;
}

.main-image02-thumbs__item.swiper-slide {
  opacity: 0.8;
}

.main-image02-thumbs__item.swiper-slide-thumb-active {
  opacity: 1;
}

/* サムネイル画像画像縦横中央に配置 */
.main-image02-thumbs__item img {
  border: 1px solid #666565;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 矢印の色を白に指定 */
.c-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.c-modal_bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}

.c-modal_content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

.c-modal_content._sm {
  width: 30%;
}

.c-modal_content._md {
  width: 50%;
}

.c-modal_content._lg {
  width: 70%;
}

.c-modal_content_inner {
  position: relative;
  padding: 24px;
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.length-container li a p {
  position: relative;
}

.length-container li.current a p,
.length-container li a:hover {
  color: #0481a2;
}

.length-container li a p::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 35%;
  /*線の形状*/
  width: 30%;
  height: 2px;
  background: #0481a2;
  /*アニメーションの指定*/
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*X方向0、Y方向1*/
  -webkit-transform-origin: center top;
          transform-origin: center top;
  /*上部中央基点*/
}

.length-container li.current p::after,
.length-container li p:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /*X方向にスケール拡大*/
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .length-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px;
    height: 360px;
  }
  .length-container li {
    position: relative;
  }
  .hair-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    /* 絶対位置指定 */
    top: 0;
    left: 0;
    opacity: 1;
    /* マスクを表示しない */
    background-color: rgba(255, 255, 255, 0.8);
    /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: hidden;
  }
  .length-container li a p {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .length-container li a p::after {
    display: none;
  }
}

.hide-area {
  /*モーダル表示をする場所をあらかじめ隠す*/
  display: none;
}

.modaal-fullscreen .modaal-content-container {
  /*full画面の色設定*/
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 2em;
  padding-top: 60px;
}

.modaal-fullscreen .modaal-content-container img {
  -o-object-fit: cover;
     object-fit: cover;
}

.modaal-fullscreen .modaal-close {
  /*ボタンの色、位置*/
  background: none;
  right: 20px;
}

/*クローズボタンの×の色変更*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}

/*キャプション*/
.caption {
  display: block;
  padding: 10px 0;
}

.fadeUphair {
  -webkit-animation-name: fadeUpAnimehair;
          animation-name: fadeUpAnimehair;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnimehair {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnimehair {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */