@import url("https://fonts.googleapis.com/css2?family=Nobile:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
// body img {
//   user-select: none;
//   line-height:1;
// }
.fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1s;
}
.top-container {
  background-image: url(../img/IMG_0550.jpeg);
  height:0;
  padding-top:66.6%;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}
.wrap {
  background-color: #d96488;
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
}
@media (max-width: 576px) {
  .content {
      padding-top: 51px;
  }
}

@media (min-width: 577px) {
.pt-scroll {
  padding-top: 51px;
}

.nav-sticky {
  position: fixed!important;
  min-width: 100%;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  transition: all .25s ease-in;
  z-index: 1;
}
}

/* HAMBURGER MENU */

.hamburger {
cursor: pointer;
width: 48px;
height: 48px;
transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
content: '';
position: absolute;
width: 24px;
height: 2px;
background: #000;
transform: rotate(0);
transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
background: #333;
}

.hamburger__top-bun {
transform: translateY(-5px);
}

.hamburger__bottom-bun {
transform: translateY(3px);
}

.open {
transform: rotate(90deg);
transform: translateY(-1px);
}

.open .hamburger__top-bun {
transform:
  rotate(45deg)
  translateY(0px);
}

.open .hamburger__bottom-bun {
transform:
  rotate(-45deg)
  translateY(0px);
}
.section-title {
  font-family: "Nobile", sans-serif;
}
.nav-menu a {
  margin: 1px 10px;
  display: inline-block;
}
.nav-bar ul {
  display: inline;
}
.scrolldown {
  span {
    position: absolute;
    display: block;
    margin-bottom: 0px;
    bottom: 10px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -12px;
    border-left: 2px solid rgb(240, 178, 63);
    border-bottom: 2px solid rgb(240, 178, 63);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;

    box-sizing: border-box;
  }
  span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  span:nth-of-type(2) {
    bottom: 50px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.15s;
  }
  span:nth-of-type(3) {
    bottom: 30px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.3s;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

// #splash-logo {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

/*画面遷移アニメーション*/
// .splashbg {
//   display: none;
// }

/*bodyにappearクラスがついたら出現*/
section.appear .splashbg {
  display: block;
  // content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  // height: 100vh;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #333; /*伸びる背景色の設定*/
  animation-name: PageAnime;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes PageAnime {
  0% {
    transform-origin: right;
    transform: scaleX(0);
  }
  50% {
    transform-origin: right;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: left;
  }
  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/

#container {
  opacity: 0; /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
section.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.plofile-container {
  // height: 1000px;
  width: 100%;
  .profile-text {
   
    // opacity: 1;
    // :hover {
    //   opacity: 0.3;
    //   // +  // width: 50%;.text-contents {

    //   // }
    // }
    img {
      // width: 100%;
      // object-fit: cover;

      transition: 2s;
    }
    .text-contents {
      // top: 50%;
      // left: 50%;
      // transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      transition: 2s;
      width: 100%;
      height: 100%;
      // position: absolute; /* 絶対位置指定 */
      top: 0;
      left: 0;
      // opacity: 0; /* マスクを表示しない */
      background-color: rgba(252, 248, 248, 0.4); /* マスクは半透明 */
      -webkit-transition: all 0.2s ease;
      transition: all 2s ease;
    }
  }
  .profile-text:hover .text-contents {
    opacity: 1; /* マスクを表示する */
  }
  .profile-image {
    // width: 50%;
    // :hover {
    //   opacity: 0.3;
    //   + .img-circle span {
    //     opacity: 1;
    //   }
    //   //   span:nth-of-type(2){
    //   //   opacity:1;
    //   // }
    //   //  & span:nth-of-type(3){
    //   //   opacity:1;
    //   // }
    // }

    img {
      // width: 100%;
      // object-fit: cover;
      // opacity: 1;
      transition: 2s;
    }
    // .img-circle {
    //   top: 50%;
    //   left: 50%;
    //   transform: translateY(-50%) translateX(-50%);
    //   opacity: 0;
    //   transition: 2s;
    //
    // }
    .img-circle {
      opacity: 0;
      transition: 2s;
      width: 100%;
      height: 100%;
      position: absolute; /* 絶対位置指定 */
      top: 0;
      left: 0;
      // opacity: 0; /* マスクを表示しない */
      background-color: rgba(252, 248, 248, 0.4); /* マスクは半透明 */
      -webkit-transition: all 0.2s ease;
      transition: all 2s ease;

      span:nth-of-type(1) {
        // display: block;
        top: 30%;
        left: 50%;
        border: 2px solid white;
        // opacity: 0;
        transition: 2s;
        transform: translateY(-50%) translateX(-50%);
      }
      span:nth-of-type(2) {
        bottom: 30%;
        left: 70%;
        border: 2px solid white;
        // opacity: 0;
        transition: 2s;
        transform: translateY(-50%) translateX(-50%);
      }
      span:nth-of-type(3) {
        bottom: 30%;
        left: 30%;
        border: 2px solid white;
        // opacity: 0;
        transition: 2s;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }
}
.profile-image:hover .img-circle {
  opacity: 1; /* マスクを表示する */
}
// .
.works-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin-top: 0;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .works-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .works-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 0;
  }
}
.image-item {
  margin: 20px;

  width: auto;
  :hover {
    opacity: 0.5;
  }
  .image-container {
    overflow: hidden;
    :hover {
      // opacity: 0.5;
      transform: scale(1.1, 1.1);
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    // :hover {
    border: none;
    overflow: hidden;

    // }
  }
  .agent-name {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
// .web-works {
//   height:100%;
// }
.slide-list-container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.slide-list {
  width: 200%;
  height: 100%;

  display: flex;
  // justify-content: center;
  // align-items: center;
}
.slide-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  // font-size: 30px;
  // font-weight: bold;
  transition: 0.5s;
}
.prev-next-box {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  margin: 0 auto;
  p {
    // padding: 2px 10px;
    box-sizing: border-box;
    display: block;
    border-radius: 6px;
    font-size: 20px;
    margin: 0 auto;
  }
}
.prev-next-box p:hover {
  cursor: pointer;
  transition: 0.6s;
  opacity: 0.5;
}
.prev-icon {
  position: relative;
  // display: inline-block;
  padding-left: 20px;
}

.more-icon {
  position: relative;
  // display: inline-block;
  padding-left: 10px;
}

.swiper-container {
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgb(248, 188, 76);
}

.main-image02 {
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;

  box-sizing: border-box;
}

.main-image02__item {
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
/* メイン画像縦横中央に配置 */

.main-image02__item img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* 画像の比率4対3に指定 2対1の場合は50%にします */

.main-image02__item:after,
.main-image02-thumbs__item:after {
  display: inline-block;
  padding-top: 50%;
  content: "";
}

.main-image02-thumbs {
  width: 100%;
  padding: none;
  box-sizing: border-box;
}

.main-image02-thumbs__item {
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.main-image02-thumbs__item.swiper-slide {
  opacity: 0.5;
}

.main-image02-thumbs__item.swiper-slide-thumb-active {
  opacity: 1;
}
/* サムネイル画像画像縦横中央に配置 */

.main-image02-thumbs__item img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* 矢印の色を白に指定 */
.main-image02 .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f5f5f5'%2F%3E%3C%2Fsvg%3E");
}
.main-image02 .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f5f5f5'%2F%3E%3C%2Fsvg%3E");
}
.c-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

// 黒背景の設定
.c-modal_bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}

// ウィンドウの設定
.c-modal_content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  &._sm {
    width: 30%;
  }

  &._md {
    width: 50%;
  }

  &._lg {
    width: 70%;
  }
}

.c-modal_content_inner {
  position: relative;
  padding: 24px;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.length-container li a p {
  position: relative;
}
.length-container li.current a p,
.length-container li a:hover {
  color: #0481a2;
}
.length-container li a p::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 35%;
  /*線の形状*/
  width: 30%;
  height: 2px;
  background: #0481a2;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}
.length-container li.current p::after,
.length-container li p:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
.hide-area {
  /*モーダル表示をする場所をあらかじめ隠す*/
  display: none;
}

.modaal-fullscreen .modaal-content-container {
  /*full画面の色設定*/
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;

  img {
    object-fit: cover;
  }
}

.modaal-fullscreen .modaal-close {
  /*ボタンの色、位置*/
  background: none;
  right: 20px;
}

/*クローズボタンの×の色変更*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}

/*キャプション*/
.caption {
  display: block;
  padding: 10px 0;
}
.fadeUphair {
  animation-name: fadeUpAnimehair;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnimehair {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
