.wrap {
  background-color: #d96488;
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
}
.top-container img {
  object-fit: cover;
  width: 100%;
}

.nav-menu a {
  margin: 1px 10px;
  display: inline-block;
}
.nav-bar ul {
  display: inline;
}
.scrolldown {
  right: -50%;
  span {
    position: absolute;
    display: inline-block;
    margin-bottom: 5px;
    bottom: 30px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;

    box-sizing: border-box;
  }
  span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  span:nth-of-type(2) {
    bottom: 20px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.15s;
  }
  span:nth-of-type(3) {
    bottom: 10px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.3s;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.scrolldown2 {
  right: -50%;

  span {
    position: absolute;
    display: inline-block;
    margin-bottom: 5px;
    bottom: 30px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;

    box-sizing: border-box;
  }
  span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  span:nth-of-type(2) {
    bottom: 20px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.15s;
  }
  span:nth-of-type(3) {
    bottom: 10px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.3s;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.plofile-container {
  // height: 1000px;
  width: 100%;
  .profile-text {
    width: 50%;

    :hover {
      opacity: 0.5;
      + .text-contents {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      opacity: 1;
      transition: 2s;
    }
    .text-contents {
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      transition: 2s;
    }
  }
  .profile-image {
    width: 50%;
    :hover {
      opacity: 0.5;
    }

    img {
      width: 100%;
      object-fit: cover;
      opacity: 1;
      transition: 2s;
    }
  }
}
.image-circle {
  border:2px solid red;
  height:100px;
  width:100px;
  border-radius: 50%;
  bottom:60%;
  right:50%;
}
