@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

.fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1s; }

.top-container {
  background-image: url(../img/IMG_0550.jpeg);
  height: 0;
  padding-top: 66.6%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

#site-menu {
  position: sticky;
  top: 0; }

.fadein.active {
  opacity: 1;
  transform: translate(0, 0); }

.wrap {
  background-color: #d96488;
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  transition: 0.5s ease-in; }

@media (max-width: 576px) {
  .content {
    padding-top: 51px; } }

@media (min-width: 577px) {
  .pt-scroll {
    padding-top: 51px; }
  .nav-sticky {
    position: fixed !important;
    min-width: 100%;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in;
    z-index: 1; } }

@media (max-width: 480px) {
  .pt-scroll {
    padding-top: 51px; }
  .nav-sticky {
    position: fixed !important;
    min-width: 100%;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in;
    z-index: 1; } }

/* HAMBURGER MENU */
.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s; }

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s; }

.hamburger:hover [class*="-bun"] {
  background: #333; }

.hamburger__top-bun {
  transform: translateY(-5px); }

.hamburger__bottom-bun {
  transform: translateY(3px); }

.open {
  transform: rotate(90deg);
  transform: translateY(-1px); }

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px); }

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px); }

.section-title {
  font-family: "Yrsa", serif; }

.nav-menu a {
  margin: 1px 10px;
  display: inline-block; }

.nav-bar ul {
  display: inline; }

.scrolldown span {
  position: absolute;
  display: block;
  margin-bottom: 0px;
  bottom: 10px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  border-left: 2px solid #ffb06b;
  border-bottom: 2px solid #ffb06b;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box; }

.scrolldown span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.scrolldown span:nth-of-type(2) {
  bottom: 50px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.15s; }

.scrolldown span:nth-of-type(3) {
  bottom: 30px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.3s; }

@keyframes sdb {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999;
  text-align: center;
  color: #fff; }

/*画面遷移アニメーション*/
/*bodyにappearクラスがついたら出現*/
section.appear .splashbg {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #333;
  /*伸びる背景色の設定*/
  animation-name: PageAnime;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes PageAnime {
  0% {
    transform-origin: right;
    transform: scaleX(0); }
  50% {
    transform-origin: right;
    transform: scaleX(1); }
  50.001% {
    transform-origin: left; }
  100% {
    transform-origin: left;
    transform: scaleX(0); } }

/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0;
  /*はじめは透過0に*/ }

/*bodyにappearクラスがついたら出現*/
section.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes PageAnimeAppear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.plofile-container {
  width: 100%; }
  .plofile-container .profile-text img {
    transition: 2s; }
  .plofile-container .profile-text .text-contents {
    transition: 2s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(252, 248, 248, 0.9);
    /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 2s ease; }
  .plofile-container .profile-text:hover .text-contents {
    opacity: 1;
    /* マスクを表示する */ }
  .plofile-container .profile-image img {
    transition: 2s; }
  .plofile-container .profile-image .img-circle {
    transition: 2s;
    width: 100%;
    height: 100%;
    position: absolute;
    /* 絶対位置指定 */
    top: 0;
    left: 0;
    background-color: rgba(252, 248, 248, 0.9);
    /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 2s ease; }
    .plofile-container .profile-image .img-circle span:nth-of-type(1) {
      top: 30%;
      left: 50%;
      border: 2px solid white;
      transition: 2s;
      transform: translateY(-50%) translateX(-50%);
      background-color: #ffb06b; }
    .plofile-container .profile-image .img-circle span:nth-of-type(2) {
      bottom: 30%;
      left: 70%;
      border: 2px solid white;
      transition: 2s;
      transform: translateY(-50%) translateX(-50%);
      background-color: #618f7b; }
    @media screen and (max-width: 480px) {
      .plofile-container .profile-image .img-circle span:nth-of-type(2) {
        bottom: 10%;
        left: 80%; } }
    .plofile-container .profile-image .img-circle span:nth-of-type(3) {
      bottom: 30%;
      left: 30%;
      border: 2px solid white;
      transition: 2s;
      transform: translateY(-50%) translateX(-50%);
      background-color: #8e6acc; }
    @media screen and (max-width: 480px) {
      .plofile-container .profile-image .img-circle span:nth-of-type(3) {
        bottom: 10%;
        left: 20%; } }

.profile-image:hover .img-circle {
  opacity: 1;
  /* マスクを表示する */ }

.works-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin-top: 0; }

.image-item {
  margin: 20px;
  width: auto; }
  .image-item :hover {
    opacity: 0.5; }
  .image-item .image-container {
    overflow: hidden; }
    .image-item .image-container :hover {
      transform: scale(1.1, 1.1); }
  .image-item img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    border: none;
    overflow: hidden; }
  .image-item .agent-name {
    display: block;
    text-align: center;
    margin-top: 10px; }

.slide-list-container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto; }

.slide-list {
  width: 200%;
  height: 100%;
  display: flex; }

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .slide-list {
    width: 200%;
    height: 100%;
    display: flex; }
  .works-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top: 0; } }

.slide-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: 0.5s; }

.prev-next-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }
  .prev-next-box p {
    box-sizing: border-box;
    display: block;
    border-radius: 6px;
    font-size: 20px;
    margin: 0 auto; }
  .prev-next-box span {
    color: #ffb06b; }

.prev-next-box p:hover {
  cursor: pointer;
  transition: 0.6s;
  opacity: 0.5; }

.prev-icon {
  position: relative;
  padding-left: 20px; }

.more-icon {
  position: relative;
  padding-left: 10px; }

.main-image02 {
  position: relative;
  z-index: 0; }

.main-image02:after {
  content: "";
  position: absolute;
  left: 0;
  top: 130px;
  /*四角形を傾けます*/
  transform: skewY(-10deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #618f7b; }

.swiper-container {
  width: 100%; }

.swiper-button-next,
.swiper-button-prev {
  color: #ffb06b; }

.main-image02 {
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box; }

.main-image02__item {
  overflow: hidden;
  position: relative; }

/* メイン画像縦横中央に配置 */
.main-image02__item img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none; }

/* 画像の比率4対3に指定 2対1の場合は50%にします */
.main-image02__item:after,
.main-image02-thumbs__item:after {
  display: inline-block;
  padding-top: 50%;
  content: ""; }

.main-image02-thumbs {
  width: 100%;
  padding: none;
  box-sizing: border-box; }

.main-image02-thumbs__item {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  padding: 8px; }

.main-image02-thumbs__item.swiper-slide {
  opacity: 0.8; }

.main-image02-thumbs__item.swiper-slide-thumb-active {
  opacity: 1; }

/* サムネイル画像画像縦横中央に配置 */
.main-image02-thumbs__item img {
  border: 1px solid #666565;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* 矢印の色を白に指定 */
.c-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.c-modal_bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%; }

.c-modal_content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px; }
  .c-modal_content._sm {
    width: 30%; }
  .c-modal_content._md {
    width: 50%; }
  .c-modal_content._lg {
    width: 70%; }

.c-modal_content_inner {
  position: relative;
  padding: 24px; }

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.length-container li a p {
  position: relative; }

.length-container li.current a p,
.length-container li a:hover {
  color: #0481a2; }

.length-container li a p::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 35%;
  /*線の形状*/
  width: 30%;
  height: 2px;
  background: #0481a2;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: center top;
  /*上部中央基点*/ }

.length-container li.current p::after,
.length-container li p:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/ }

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .length-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px;
    height: 360px; }
  .length-container li {
    position: relative; }
  .hair-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    /* 絶対位置指定 */
    top: 0;
    left: 0;
    opacity: 1;
    /* マスクを表示しない */
    background-color: rgba(255, 255, 255, 0.8);
    /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: hidden; }
  .length-container li a p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .length-container li a p::after {
    display: none; } }

.hide-area {
  /*モーダル表示をする場所をあらかじめ隠す*/
  display: none; }

.modaal-fullscreen .modaal-content-container {
  /*full画面の色設定*/
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 2em;
  padding-top: 60px; }
  .modaal-fullscreen .modaal-content-container img {
    object-fit: cover; }

.modaal-fullscreen .modaal-close {
  /*ボタンの色、位置*/
  background: none;
  right: 20px; }

/*クローズボタンの×の色変更*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666; }

/*キャプション*/
.caption {
  display: block;
  padding: 10px 0; }

.fadeUphair {
  animation-name: fadeUpAnimehair;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes fadeUpAnimehair {
  from {
    opacity: 0;
    transform: translateY(50px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
